.company-registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.company-registration-company-registration {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  /* justify-content: space-between; */
  background-color: rgba(255, 255, 255, 1);
  margin-top: 70px;
}
.company-registration-frame4 {
  gap: 15.8203125px;
  top: 70px;
  left: 56px;
  width: 1485px;
  height: 195px;
  /* margin: auto; */
  display: flex;
  /* position: absolute; */
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.company-registration-image19 {
  width: 74px;
  height: 64px;
}
.company-registration-frame7 {
  gap: 1.58203125px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.company-registration-text {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 26.89453125px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.company-registration-text02 {
  color: rgba(134, 131, 131, 1);
  height: auto;
  font-size: 11.865234375px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.company-registration-text03 {
  color: rgba(134, 131, 131, 1);
  font-weight: 400;
}
.company-registration-frame2 {
  gap: 7.91015625px;
  left: 600px;
  width: 389px;
  bottom: 62px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  padding-top: 7.91015625px 61.69921875px;
  /* padding-left: var(--dl-space-space-fourunits); */
  border-radius: 19.775390625px;
  /* padding-right: var(--dl-space-space-fourunits); */
  padding-bottom: 7.91015625px 61.69921875px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(29, 166, 132, 1) 0%, rgba(190, 220, 124, 0.9900000095367432) 100%);
}
.company-registration-text05 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14.23828125px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.company-outer-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* background-color: red; */
  /* align-items: center; */
  /* position: absolute; */
  width: 80%;
  height: 50%;
}
.company-inner-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-; */

}

.company-container {
  height: 60px;
  margin: 50px 0;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}
 .head {
  color: rgba(68, 68, 68, 1);
  height: auto;
  /* position: absolute; */
  font-size: 14;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* .head-text{
  box-sizing: border-box;
  font-size: 20;
} */
.input {
  box-sizing: border-box;
  gap: 7.91015625px;
  top: 22.939453125px;
  left: -9.094947017729282e-13px;
  /* color: rgba(166, 160, 160, 1); */
  color: black;
  width: 268px;
  height: 38px;
  display: flex;
  padding: 0 24px;
  margin-top: 5px;
  overflow: hidden;
  font-size: 9.4921875px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  border-color: rgba(210, 205, 205, 1);
  border-style: solid;
  border-width: 0.791015625px;
  border-radius: 19.775390625px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 15px;
  /* background-color: green; */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.company-registration-check {
  top: 480px;
  /* left: 690px; */
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  margin: 50px;
}
.company-registration-rectangle3 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  /* position: absolute; */
  border-color: rgba(68, 68, 68, 1);
  border-style: solid;
  border-width: 0.791015625px;
  border-radius: 3.1640625px;
}
.company-registration-text25 {
  left: 21.357421875px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute; */
  font-size: 8.701171875px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

